<div ng-controller="DetailCtrl">
   <div class="card">
      <div align="right" class="card-block" style="background-color: #F44336; height: 5em;">
         <h3 class="card-title text-uppercase" style="position: absolute;color:#FFF">{{project.name}}</h4>
            <div class="" align="center">
               <div id="{{project.id}}" class="tooltip-inner prompt">
                  
              </div>
            </div>

         <img ng-src="{{project.icon}}" class="card-img-top avatar" alt="Card image cap" class="img-responsive" height="100" width="100">
      </div>
      <div class="card-block">
         <p class="card-text">{{project.description}}</p>
      </div>
      <div ng-show="project.scripts" class="card-block">
         <select ng-model="command.prompt" class="form-control">
            <option ng-repeat="script in project.scripts" value="{{script}}">{{script}}</option>
         </select>
         <button ng-click="startApi(project)" class="btn btn-primary">Startup</button>
         <button class="btn btn-primary">Console</button>
      </div>
      <div ng-hide="project.scripts" class="card-block">
         <button ng-click="startNode(project)" class="btn btn-primary">Startup</button>
         <button class="btn btn-primary">Console</button>
      </div>
   </div>
</div>
