<div ng-controller="DetailCtrl">
   <!-- PROJECT -->
   <div class="card">
      <div align="right" class="card-block" style="background-color: #F44336; height: 5em;">
         <h3 class="card-title text-uppercase" style="position: absolute;color:#FFF">{{project.name}}</h3>
         <img ng-src="{{project.icon}}" class="card-img-top avatar" alt="Card image cap" class="img-responsive" height="100" width="100">
      </div>
      <div ng-if="project.type=='project'" class="card-block">
         <p class="card-text">{{project.description}}</p>
      </div>
      <div ng-if="project.type=='project'" ng-show="project.scripts" class="card-block">
         <select ng-model="command.prompt" class="form-control">
            <option ng-repeat="script in project.scripts" value="{{script}}">{{script}}</option>
         </select>
         <button ng-click="startApi(project)" class="btn btn-primary">Startup</button>
         <button class="btn btn-primary">Console</button>
      </div>
      <div ng-if="project.type=='project'" ng-hide="project.scripts" class="card-block">
         <button ng-click="startNode(project)" class="btn btn-primary">Startup</button>
         <button class="btn btn-primary">Console</button>
      </div>
      <div ng-if="project.type=='data-base'" ng-hide="project.scripts" class="card-block">
         <button ng-click="startDB(project)" class="btn btn-primary">Startup</button>
         <button class="btn btn-primary">Console</button>
      </div>
      <div class="card-block" >
         <div ng-click="hidePrompt(project.id)" class="prompt">
            <span id="{{project.id}}" class="{{prompt.type}}">></span></br>
         </div>
      </div>
   </div>
   <!-- CHILDS -->
   <div ng-repeat="child in project.projects" class="card">
      <div align="right" class="card-block" style="background-color: #F44336; height: 5em;">
         <h3 class="card-title text-uppercase" style="position: absolute;color:#FFF">{{child.name}}</h3>
         <img ng-src="{{child.icon}}" class="card-img-top avatar" alt="Card image cap" class="img-responsive" height="100" width="100">
      </div>
      <div ng-if="child.type=='project'" class="card-block">
         <p class="card-text">{{child.description}}</p>
      </div>
      <div ng-if="child.type=='project'" ng-show="child.scripts" class="card-block">
         <select ng-model="command.prompt" class="form-control">
            <option ng-repeat="script in child.scripts" value="{{script}}">{{script}}</option>
         </select>
         <button ng-click="startApi(child)" class="btn btn-primary">Startup</button>
         <button class="btn btn-primary">Console</button>
      </div>
      <div ng-if="child.type=='project'" ng-hide="child.scripts" class="card-block">
         <button ng-click="startNode(child)" class="btn btn-primary">Startup</button>
         <button class="btn btn-primary">Console</button>
      </div>
      <div ng-if="child.type=='data-base'" ng-hide="child.scripts" class="card-block">
         <button ng-click="startDB(child)" class="btn btn-primary">Startup</button>
         <button class="btn btn-primary">Console</button>
      </div>
      <div class="card-block" >
         <div ng-click="hidePrompt(child.id)" class="prompt">
            <span id="{{child.id}}" class="{{prompt.type}}">></span></br>
         </div>
      </div>
   </div>
</div>
